<article class="about active">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      Aspiring Frontend Developer and graduate student with hands-on experience
      in Angular and Ionic frameworks. Passionate about building efficient,
      user-friendly mobile applications. Eager to contribute to impactful
      projects as a frontend developer while continuously enhancing technical
      and problem-solving skills. Actively seeking job opportunities in frontend
      development.
    </p>
    <section id="job-opportunities">
      <p>
        I am actively exploring career opportunities where I can contribute,
        grow, and further develop my skills.
      </p>
    </section>

    <!-- <p>
      My job is to build your website so that it is functional and user-friendly
      but at the same time attractive. Moreover, I add personal touch to your
      product and make sure that is eye-catching and easy to use. My aim is to
      bring across your message and identity in the most creative way. I created
      web design for many famous brand companies.
    </p> -->
  </section>

  <!-- What I'm doing -->
  <section class="service">
    <h3 class="h3 service-title">What I'm doing</h3>

    <ul class="service-list p-0">
      <li class="service-item" *ngFor="let service of services">
        <div class="service-icon-box">
          <img [src]="service.icon" [alt]="service.alt" width="40" />
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{ service.title }}</h4>
          <p class="service-item-text">{{ service.text }}</p>
        </div>
      </li>
    </ul>
  </section>

  <section class="clients">
    <h3 class="h3 clients-title">Skills</h3>

    <ul class="clients-list has-scrollbar">
      <li class="clients-item" *ngFor="let skill of skillsList">
        <a [href]="skill.official_link" target="_blank">
          <img [src]="skill.logo" [alt]="skill.name" loading="lazy" />
        </a>
      </li>
    </ul>
  </section>
</article>
