<body>
  <main>
    <!--
      - #SIDEBAR
    -->
    <aside class="sidebar"  [class.active]="showContacts">
      <div class="sidebar-info">
        <figure class="avatar-box">
          <img
            src="assets/images/owner.jpeg"
            alt="Puja Lakhe"
            width="80"
            (click)="openImage()"
          />
        </figure>

        <div class="info-content">
          <h1 class="name" title="Puja Lakhe">Puja Lakhe</h1>

          <p class="title">Web developer</p>
        </div>

        <button class="info_more-btn" (click)="toggleContacts()">
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>

      <div
        class="sidebar-info_more"
      >
        <div class="separator"></div>

        <ul class="contacts-list">
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:lakhepuza924@gmail.com" class="contact-link"
                >lakhepuza924&#64;gmail.com</a
              >
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:9840256088" class="contact-link">+977 9840256088</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">January 8, 2002</time>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Libali,Bhaktapur Nepal</address>
            </div>
          </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/puza.lakhe.77"
              class="social-link"
            >
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://github.com/pujalakhe" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.linkedin.com/in/puja-lakhe-93619b305/"
              class="social-link"
            >
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="main-content">
      <!--
        - #NAVBAR
    -->
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a routerLink="/about" routerLinkActive="active" class="navbar-link"
              >About</a
            >
          </li>
          <li class="navbar-item">
            <a
              routerLink="/resume"
              routerLinkActive="active"
              class="navbar-link"
              >Resume</a
            >
          </li>
          <li class="navbar-item">
            <a
              routerLink="/portfolio"
              routerLinkActive="active"
              class="navbar-link"
              >Portfolio</a
            >
          </li>
          <li class="navbar-item">
            <a
              routerLink="/contact"
              routerLinkActive="active"
              class="navbar-link"
              >Contact</a
            >
          </li>
        </ul>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </main>
</body>
